
.login{
    width: 100%;
    height: 1080px;
    background-image: url('../../images/login_canvas.jpg');

    .login-content{
        width: 100%;
        padding-top: 100px;

        #form{
            /*
                form: login area.
            */
            width: 50%;

            display: flex;

            border: 1px solid #dbdbdb;
            border-radius: 9px;

            background-color: white;

            position: fixed;
            left: 25%;
            top: 100px;


            .login-left-column{
                width: 50%;

                border: 1px solid #dbdbdb;
                border-radius: 9px;
            }

            
            .login-right-column{
                width: 50%;

                border: 1px solid #dbdbdb;
                border-radius: 9px;

                text-align: center;
                float: right;

                
                .login-form{
                    width: 100%;

                    h2{
                        font-size: 40px;
                        margin-top: 10px;
                    }

                    .ant-form-item{
                        width: 75%;
                        margin-left: auto;
                        margin-right: auto;

                        .login-remember{
                            float: left;
                        }

                        .login-form-forgot{
                            float: right;
                        }
                    }
                }
            }
        }
    }
}