.login-form {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.login-form .login-form-button {
  width: 100%;
  margin-bottom: 20px;
}
.login-form .login-form-forgot {
  float: right;
}
.login-form .ant-input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}
