.login {
  background-image: url(../../images/login_canvas.jpg);
  background-size: cover;
}
.login .login-content {
  margin: 0 auto;
  height: 800px;
  text-align: center;
}
.login .login-content #form {
  position: absolute;
  top: 200px;
  left: 30%;
  width: 30%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  padding-bottom: 30px;
}
.login .login-content #form h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 30px;
  font-style: bold;
  color: black;
}
